body {
  overflow: hidden;
}

.App {
  display: flex;
  flex: 0 1 1500px;
}

.App-Container {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.full-flex {
  flex: 1;
}

.center-text {
  text-align: center;
}

.white-text {
  color: #f5eded;
}

@media only screen and (max-width: 768px) {
  .MuiTypography-h3 {
    font-size: 2rem !important;
  }
  .mob-full-width {
    flex: 1;
  }
  .mob-flex {
    flex-direction: column;
  }
  .App {
    flex-direction: column;
  }
  .App-Container {
    height: auto;
  }
}

/* @media only screen and (max-width:) */

/* {
  #3e3636,
  #000000,
  #d72323,
  #f5eded
} */
